<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Myview</title>
  

</head>
    <body>
        <div class="text-center">
            <h3>@ViewBag.hour naber nasıl gidiyo </h3>
            <h2>Benimview</h2>

            <a asp-action="apply" class="btn btn-primary">Apply the course</a>
        </div>
    </body>

</html>