<!DOCTYPE html>       @*--2.adım burayı doldurmak*@
<html>
<head>
    <meta name="viewport" content="width-device-width"/>
    <title>index sayfam</title>

</head>
<body>
    <div style="background-color:#ff0000">..</div>
    <div style="background-color:#ff0000">..</div>
    <div style="background-color:#ff0000">..</div>
    <div>bu sayfada şöyle böyle yapacağız </div>
    <div style="background-color:#ff0000">
       
        @DateTime.Now.ToShortDateString()
    @for(int i = 0; i < 10; i++)
    {
        @i
        <br/>
    }
    </div>
    <br/>
    <br/>
    <div style="background-color:#00ff21">
        @{
            int s = 1;
            var liste = new List<String>() { "İzmir", "İstanbul", "Aydın", "Muğla" };
        }


        @foreach (var li in liste)
        {


            int x = 0;
            x = @li.Length;

            if (x > 5)
            {
                String y = "5 ten büyük olanlar";
                String minus = "-";
                @y
                <br />
                @s @minus @li <br />
             
            }
            s++;


        }
    </div>
    <div style="background-color:#808080" width="1250px" length="100px"> n
    <div style="background-color:darkred" width="200px" length="100px">as</div> 
    </div>
</body>

</html>
