<!DOCTYPE html>  @*5.adım*@

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div style="background-color:#4cff00" width="500px" length="100px"> ben layout sayfasiyim</div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
